:root {
  --bg-blue: hsl(213, 49%, 34%);
  --text-white: rgb(255, 255, 255);
  --text-dark: hsla(0, 0%, 0%, 85%);
  --bg-card-img: hsla(0, 1%, 77%, 0.5);

  /* Dark mode */
  --bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --moon-bg: hsl(0, 0%, 52%);
  --sun-bg: hsl(40, 67%, 58%);
  --card-bg: hsl(0, %, 98%);

  /*style site*/
  --width-max: 1200px;
  --header_height: 4rem;
}

/*Theme*/
[data-theme="dark"] {
  --bg-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --moon-bg: hsl(40, 67%, 58%);
  --sun-bg: hsl(0, 0%, 52%);
  --card-bg: hsl(209, 23%, 22%);
}

/* [data-theme="light"]{
  --bg-color: hsl(0,0%,100%);
  --text-color: hsl(200,15%,8%);
  --moon-bg: hsl(0,0%,52%);
  --sun-bg: hsl(40, 67%, 58%);
  --card-bg: hsl(0,%,98%);
} */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: "Raleway";
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--text-color);
  /*	overflow: hidden;*/
}

.contain {
  max-width: var(--width-max);
  margin-right: auto;
  margin-left: auto;
}

.header_nav {
  width: 100%;
  height: var(--header_height);
  position: fixed;
  left: 0;
	padding:5px 0;
  bottom: 0;
  z-index: 999;
  background: var(--bg-color);
}

.none {
  display: none;
}

.header_nav > .contain {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  display: none;
}

.content_logo,
.menu {
  color: var(--text-color);
  font-weight: bold;
}

.content_logo {
  width: inherit;
  display: flex;
  align-items: center;
  padding: 0;
}

.img_logo {
/*
  width: 100px;
  object-fit: cover;
  object-position: center;
*/
display: none;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 1rem;
}

.title_logo {
  font-weight: bold;
  font-size: 0.7em;
  color: var(--bg-blue);
  /*	margin-left: 2rem;*/
}

.icon {
  width: 1.5em;
  margin: 10px auto;
}

.img_content {
  width: 15%;
}

/*Boton de menu*/
.menu {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: var(--header_height);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;

}

.menu.is-active {
  opacity: 1;
  /*	 transform: translate(0, 0);*/
  pointer-events: auto;
}

.menu .menu__link {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--bg-blue);
  text-decoration: none;
  text-align: center;
}

.menu .menu__link:hover {
  background-color: var(--bg-blue);
  font-weight: bold;
  color: var(--text-white);
  border-radius: 3px;
}

#btn_menu {
  width: 2rem;
  height: 2rem;
  outline: thin solid transparent;
  border: 0;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

#btn_menu  svg {
  fill: var(--bg-blue);
	margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  #btn_menu {
    display: none;
  }
  .menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    flex-direction: row;
  }

  .menu__link {
    padding: 0 1rem;
  }

  .menu__link:last-child {
    padding-right: 0;
  }

  .menu .menu__link:hover {
    background-color: transparent;
    color: var(--bg-blue);
  }
}

/*

/*Slide*/
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 90vh;
}

.carousel-img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/*Paralax*/

.hero_image {
  background-image: url(../img/IMG_5071.JPG);
  background-size: cover;
  background-position: center;
	text-align: center;
	position: relative;
}
.hero_image:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:var(--text-dark);
	left: 0;
	top: 0;
}

.hero_image--opacity{
  text-align:center;
	color: var(--text-white);
	position: relative;
	padding-top: 1rem;
	padding-bottom: 15vh;
}

 .hero_image--opacity .text_title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 2rem;
}

.cpl {
  font-family: "Raleway";
  font-weight: 700;
  font-style: italic;
  font-size: 1em;
}

.nav_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
}

.card_logo,
.modal_img {
  width: 50%;
}
.card_img {
  width: 250px;
  background-color: var(--moon-bg);
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 1rem;
}

.btn_modal {
  width: 100%;
	height: 100%;
  display: inline-block;
  padding: 1.5rem 0;
  border-radius: 1rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.btn_modal:hover {
  text-decoration: none;
  color: var(--text-color);
  background: var(--bg-color);
}

.modal_container {
  width: auto;
  height: 100vh;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: auto;
/*  height: inherit;*/
  background: var(--bg-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  padding: 1rem -0px;
  transition: transform 0.5s ease;
  transform: scale(0%);
  border-radius: 30px;
	font-size: 0.5rem;
}

.modal_close {
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #c44a4a;
  color: var(--text-white);
  line-height: 28px;
  cursor: pointer;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .banner {
    width: 100%;
    display: block;
  }

  .contain_news {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .service:nth-child(1) {
    grid-column-start: span 4;
  }

  .service:nth-child(2) {
    grid-column-start: span 2;
  }

  .service:nth-child(3) {
    grid-column-start: span 2;
  }

  .service:nth-child(4) {
    grid-column-start: span 4;
  }

  .service__news {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .service__news-item:nth-child(1) {
    grid-column-start: span 2;
  }

  .service__news-item:nth-child(2) {
    width: 100%;
    grid-column-start: span 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

@media screen and (min-width: 1024px) {
  .header_nav {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: cal(var(--header_height)-0.5rem);
    border-bottom: thin solid var(--bg-blue);
  }
}
